<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wenxin Zhang</title>
    <link rel= "stylesheet" href= "{% static 'css/default.css' %}">
    <!-- =====box icons====== -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>  

</head>

<style type="text/css">
  .tag{
              display:inline-block;
              color:#fff;
              background-color: #888;
              border-radius: 5px;
              margin: 2px;
              padding: 2px 5px;
              font-size: 12px;	
        }
  
  @media screen and (min-width: 768px){
    :root{
        --big-font-size: 3rem;
        --h2-font-size: 2rem;
        --normal-font-size:1rem;
    }

}

</style>

<body>
    <!-- ====HEADER==== -->
    <header class="l-header">
        <nav class="nav bd-grid">
            <div>
                <a href="{% static 'resume.pdf' %}" class="nav_logo"> Wenxin Zhang </a>
            </div>

            <div class="nav_menu" id="nav-menu">
                <ul class="nav_list">
                    <li class="nav_item"> <a href="#home" class="nav_link active">Home</a></li>
                    <li class="nav_item"> <a href="#about" class="nav_link">About</a></li>
                    <li class="nav_item"> <a href="#skills" class="nav_link">Skills</a></li>
                    <li class="nav_item"> <a href="#work" class="nav_link">Projects</a></li>
                    <li class="nav_item"> <a href="#contact" class="nav_link">Contact</a></li>
                    <li class="nav_item"> <a href="#blog" class="nav_link">Blogs(coming soon)</a></li>
                </ul>
            </div>
            
            <div class="nav_toggle" id= "nav-toggle">
              <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header> 

    <main class="l-main">
      <!-- ==== HOME ==== -->
      <section class="home bd-grid id="home">
          <div class="home_data">
            <h1 class="home_title">Hi, <br>I am <span class="home_title-color">Wenxin Zhang</span><br> Software Developer</h1>
            <!-- <a href="#" class="button">Contact</a> -->
          </div>

          <div class="home_social">
              <a href="https://www.linkedin.com/in/wenxin-wendy-zhang-023546126/" class="home_social-icon"><i class='bx bxl-linkedin' ></i></a>
              <a href="https://github.com/smilewendy7" class="home_social-icon"><i class='bx bxl-github' ></i></a>
              <a target="_blank" class="home_social-icon" href="{% static 'resume.pdf' %}"><i class='bx bx-download'></i></a>
              
          </div>

          <div class="home_img">
              <img src= "{% static 'images/pic1.jpg' %}" alt="profile">
          </div>
      </section>


      <!-- ==== ABOUT ==== -->
      <section class="about section" id= "about">
          <h2 class="section-title">About</h2>
          <div class="about_container bd-grid">
            <div class="about_img">
              <img src="{% static 'images/profile.png' %}"  alt= "about">
            </div>

            <div>
                <h2 class="about_subtitle">I am Wenxin (Wendy)</h2>
                <p class= "about_text">Software Developer with background in Statistics and Data Analysis. Experienced in Python, R, Django, RestAPI, JavaScript, HTML, CSS, and SQL. Problem-solver with ability to develop and implement solutions to meet business needs in an Agile team environment.</p>
                <br>
                <p class= "about_text">Thanks for visiting my website! I made this site on September 2021 using Pythn, Django, HTML, CSS, and a little bit of javascript.</p>
                <br>
                <p>Feel free to contact me :)</p>
                
                <br>
                <br>
                <a href="#" class="about_text"><i class='bx bx-mail-send' ></i> smilewendy7@gmail.com</a>
            </div>
          </div>
      </section>


      <!-- ==== SKILLS ==== -->
      <section class="skills section" id= "skills">
          <h2 class="section-title">Skills</h2>

          <div class="skills_container bd-grid">
            <div>
              <h2 class="skills_subtitle">Profesional Skills</h2>
              <!-- <p class="skills_text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae adipisci quisquam omnis doloribus illo, </p> -->

              <div class="skills_data">
                  <div class="skills_names">
                    <i class='bx bxl-django skills_icon'></i>
                      <span class= "skills_name">Django</span>
                  </div>
                  <div>
                    <span class="skills_percentage">95%</span>
                  </div>

                  <div class="skills_bar skills_html"></div>                 
                </div>


                <!-- * -->
              <div class="skills_data">
                <div class="skills_names">
                  <i class='bx bxl-css3 skills_icon' ></i>
                    <span class= "skills_name">HTML/CSS</span>
                </div>
                <div>
                  <span class="skills_percentage">85%</span>
                </div>
                
                <div class="skills_bar skills_css"></div>
              </div>

              <!-- * -->
              <div class="skills_data">
                <div class="skills_names">
                  <i class='bx bxl-javascript skills_icon' ></i>
                    <span class= "skills_name">JAVASCRIPT</span>
                </div>
                <div>
                  <span class="skills_percentage">65%</span>
                </div>

                <div class="skills_bar skills_js"></div>                 
              </div>

              <!-- * -->
              <div class="skills_data">
                <div class="skills_names">
                  <i class='bx bxl-python skills_icon' ></i>
                    <span class= "skills_name">Python</span>
                </div>
                <div>
                  <span class="skills_percentage">85%</span>
                </div>

                <div class="skills_bar skills_python"></div>                 
              </div>
            </div>

            <div>
                <img src="{% static 'images/p-dog.jpg' %}"  alt="" class= "skills_img">
            </div>

          </div>
      </section>

      <!-- ==== Projects ==== -->
      <section class="work section" id="work">
          <h2 class="section-title"><a href="{% url 'posts' %}">Projects</a></h2>
          
          
          <div class="work_container bd-grid">
              {% for post in posts %}
              <div class="work_img">
                <img src="{{post.thumbnail.url}}"  class= "thumbnail">
                    <div class= "post-preview">
                        <h5 class="post-title">{{post.headline}}</h5>
                        <a href="{%url 'post' post.slug %}">Read More</a>
                        <hr>
                        {% for tag in post.tags.all %}
                          <span class="tag">{{tag}}</span>
                        {% endfor %}
                    </div>
              </div>
              {% empty %}
                <h3>No posts found ...</h3>
              {% endfor %}
          </div>
          
          
          
      </section>

      <!-- ==== Contact ==== -->
      <section class="contact section" id="contact">
          <h2 class="section-title">Contact</h2>

          <div class="contact_container bd-grid">
              <form action="{% url 'send_email' %}" class= "contact_form" method="POST">
                  {% csrf_token %}
                  <input type="text" placeholder="Name" class= "contact_input", name="name">
                  <input type="mail" placeholder="Email" class= "contact_input", name="email">
                  <textarea name="message" id="" cols="0" rows="10" class= "contact_input"></textarea>

                  <input type="submit" value="Send" class="contact_button button">
              </form>
          </div>
      </section>



    </main>


<!-- ==== FOOTER ==== -->
<footer class="footer">
    <p class="footer_title">Wenxin</p>

    <div class="footer_social">
      <a href="#" class="footer_icon"><i class='bx bxl-facebook' ></i></a>
      <a href="#" class="footer_icon"><i class='bx bxl-instagram' ></i></a>
      <a href="#" class="footer_icon"><i class='bx bxl-twitter' ></i></a>
    </div>
    <!-- <p>&#168; 2021 copyright all right reserved</p> -->

</footer>

     



 <!-- ====scroll reveal =====  -->
 <script src="https://unpkg.com/scrollreveal"></script>


 <script type="text/javascript">
    let static = "{% static 'css' %}"
</script>

<!-- create a javascript doc -->
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>


</body>
</html>