<header class="l-header">
    <nav class="nav bd-grid">

        <div class="nav_menu" id="nav-menu">
            <ul class="nav_list">
                <li class="nav_item"> <a href="{% url 'home' %}" class="nav_link active">Home</a></li>
                <li class="nav_item"> <a href="{% url 'posts' %}" class="nav_link active">Projects</a></li>
                <li class="nav_item"> <a href="#blog" class="nav_link">Blogs(coming soon)</a></li>
                
                {% if request.user.is_authenticated %}
                <li class="nav_item"> <a href="{% url 'create_post' %}" class="nav_link">Add Project</a></li>
                {% endif %}
            </ul>
        </div>
        
        <div class="nav_toggle" id= "nav-toggle">
          <i class='bx bx-menu'></i>
        </div>
    </nav>
</header> 